<html ng-app="clockApp">

   <head>
      <title>The AngularJS Example</title>
	  <script type = "text/javascript"  src = "js/angular.js"></script>
     <script type = "text/javascript"  src = "js/App.js"></script>
		<!-- CDN import -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script> -->
   </head>

   <body>
     <h1>Clock App</h1>
    <div ng-controller="ClockCtrl" >
      <p ng-if="hourOfDay < 12"> Good morning</p>
      <p ng-if="hourOfDay >= 12 && hourOfDay < 16"> Good afternoon</p>
      <p ng-if="hourOfDay >= 16 && hourOfDay < 18"> Good Evening</p>
      <p > Today is :{{currentTime.toLocaleDateString("en-US")}} </p>
      <p > The cuttent time is :{{currentTime.toLocaleTimeString("en-US")}} </p>
      Please enter your thought: <input ng-model="userThought" type="text"/> <br/>
      <button ng-click="updateTime()">Update</button>
      <p>{{userThought}} </p>
      <p ng-if="hourOfDay >= 18"> Good Night</p>
    </div>
   </body>

</html>
